* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.editor {
	width: 60%;
	height: 20vw;
	border: 1px solid black;
	margin: auto;
	overflow: hidden;
}

.rectangle {
	position: relative;
	width: 550px;
	height: 550px;

	background-color: aqua;
	cursor: move;
}

.rectangle .dot {
	position: relative;
	left: calc(100%);
	top: calc(100%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: lightskyblue;
	border: 2px solid black;
	cursor: pointer;
}

.context-menu {
	left: 0;
	top: 0;

	font-family: "Poppins", sans-serif;
	position: absolute;
	background-color: #1b1d29;
	color: white;
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	display: none;
	z-index: 100;
}

.editor-remove,
.editor-sliders {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.editor-sliders input {
	padding: 0.5em;
}

.context-menu p:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}
