{{ define "front" }}
<div class="navbar">
	<div class="logo">
		<img src="/src/logo.png" alt="" />
		<h3><span>Figure</span>Slice</h3>
	</div>
	<div>
		<a href="/about">About</a>
		<a href="https://github.com/jesperkha/FigureSlice">GitHub</a>
	</div>
</div>
<div class="hero">
	<div>
		<h1>Perfect cut, few clicks</h1>
		<br />
		<p>
			Cut out images with custom shapes and sizes. The faster way of getting cropped images without using any image
			editors.
		</p>
		<a href="#step1" class="button">Start Editing</a>
	</div>
	<div class="hero-image">
		<img src="/src/hero.png" alt="" />
	</div>
</div>
{{ end }}
