:root {
	--primary: #b251ff;
}

/* Step 1 */

.file-upload {
	width: 80%;
	height: 45vh;
	border-radius: 0.5em;
	background-color: #f7f7f7;
}

.file-upload input[type="file"] {
	display: none;
}

#filename {
	text-align: center;
	margin-left: 2em;
}

/* Step 2 */

.editor-frame {
	display: flex;
	width: 100%;
	height: 80vh;
}

.toolbar {
	width: 15%;
	height: 100%;
	border-right: 2px solid black;
}

.toolbar h2 {
	margin-bottom: 1em;
}

.toolbar p {
	--offset: 2em;

	position: relative;
	padding: 0.7em 0;
	padding-left: var(--offset);
	right: var(--offset);
	border-radius: 3em 0 0 3em;
	margin-top: 0.5em;
	width: calc(100% + var(--offset));
	color: black;
	cursor: pointer;
}

#clear-all {
	margin-top: 10vh;
	text-decoration: underline;
}

.toolbar-selected {
	background-color: var(--primary);
	color: white !important;
}

.editor-container {
	width: 85%;
	height: 100%;
	background-color: #f7f7f7;
}

.editor {
	border-radius: 0.3em;
	height: 70vh;
	overflow: hidden;
	cursor: crosshair;
	background-position: center;
	background-size: cover;
	display: none;
}

.editor,
.editor-container {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.editor-image {
	width: 100%;
	height: 100%;
	opacity: 20%;
}

.visualizer {
	position: absolute;
	border: 3px solid grey;
	display: none;
}

.rectangle,
.circle {
	position: absolute;
	background-color: rgba(230, 230, 255, 0.7);
}

.circle {
	border-radius: 50%;
}

/* Step 3 */

.submit-image {
	width: 80%;
	height: 15vh;
	justify-content: flex-start;
}

.preview {
	background-color: #f7f7f7;
	width: 80%;
	height: 70vh;
	border-radius: 0.5em;
}

.preview img {
	max-width: 90%;
	max-height: 90%;
}

input[type="checkbox"] {
	margin: 1em;
}

.copy-download {
	margin: 3em;
}

/* Footer */

.footer {
	border-top: 2px solid black;
	display: flex;
	justify-content: center;
}

.footer * {
	margin: 2em;
}
