.editor {
	height: 35vw;
	margin: auto;
	overflow: hidden;
	cursor: crosshair;
	background: rgba(255, 255, 255, 0.1);
	background-position: center;
	background-size: cover;

	display: none;
}

.background {
	width: 100%;
	height: 100%;
	opacity: 30%;
}

.editor,
.editor-container {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.rectangle,
.circle {
	position: absolute;
	background-color: rgba(230, 230, 255, 0.7);
}

.circle {
	border-radius: 50%;
}

.context-menu {
	font-family: "Poppins", sans-serif;
	position: absolute;
	background-color: #1b1d29;
	color: white;
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	display: none;
	z-index: 100;
}

.editor-remove,
.editor-sliders {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.editor-sliders input {
	padding: 0.5em;
}

.context-menu p:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.visualizer {
	position: absolute;
	border: 3px solid grey;
	display: none;
}
