* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #b251ff;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 15vh 0;
}

img {
	user-select: none;
}

p {
	font-size: 0.9em;
	font-family: "Rubik", sans-serif;
}

h1 {
	font-size: 2em;
	font-family: "Jost", sans-serif;
}

h2 {
	font-size: 1.2em;
	font-family: "Rubik", sans-serif;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.shadow {
	box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.3);
}

.step {
	width: 100%;
	margin-bottom: 15vh;
}

.step-line {
	height: 0.3em;
	width: 3em;
	background-color: var(--primary);
	border-radius: 1em;
	margin: 1em 0;
}

.context-menu {
	font-family: "Poppins", sans-serif;
	position: absolute;
	background-color: #1b1d29;
	color: white;
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	display: none;
	z-index: 100;
}

.context-menu p:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.context-remove,
.context-sliders {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.context-sliders input {
	padding: 0.5em;
}
