* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #b251ff;
}

html,
body {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: black;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 15vh;
}

img {
	user-select: none;
}

p,
a {
	color: black;
	font-size: 0.9rem;
	font-family: "Rubik", sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	font-family: "Jost", sans-serif;
}

h2 {
	font-size: 1.2rem;
	font-family: "Rubik", sans-serif;
}

h3 {
	font-size: 1.5rem;
	font-family: "Jost", sans-serif;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.shadow {
	box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
}

.button {
	outline: none;
	border: none;
	padding: 0.7rem 1.2rem;
	background-color: var(--primary);
	color: white;
	border-radius: 2rem;
	cursor: pointer;
	margin: 2rem;
	font-family: "Rubik", sans-serif;
	transition: all 0.1s ease;
}

.button:hover {
	box-shadow: 0 0 2rem 0 rgba(178, 81, 255, 0.5);
	text-decoration: none;
}

.step {
	width: 100%;
	margin-bottom: 10vh;
}

.step-line {
	height: 0.3rem;
	width: 3rem;
	background-color: var(--primary);
	border-radius: 1rem;
	margin: 1rem 0;
}

.context-menu {
	font-family: "Poppins", sans-serif;
	position: absolute;
	background-color: #1b1d29;
	color: white;
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
	display: none;
	z-index: 100;
}

.context-menu p:hover {
	background-color: rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.context-remove,
.context-sliders {
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.context-menu label,
.context-menu p {
	color: white;
	font-size: 1rem;
	font-family: "Rubik", sans-serif;
}

.context-sliders input {
	padding: 0.5rem;
}

@media screen and (min-width: 1700px) {
	:root {
		font-size: 18px;
	}
}

@media screen and (min-width: 2000px) {
	:root {
		font-size: 20px;
	}
}
